:root {
  --global-font: arial, helvetica, sans-serif;
  --c-primary: #074f71;
  --c-primary-darker: #003142;
  --c-blue-secondary: #25aee8;
  --c-white: #fff;
}
.sharpstream-audio__player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}
.sharpstream-audio__player .controls {
  margin-right: 0.5rem;
}
.sharpstream-audio__player .controls .toggle-play {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 0.5rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
.sharpstream-audio__player .controls .play {
  background-image: url(../images/play-button--blue.svg);
}
.sharpstream-audio__player .controls .pause {
  background-image: url(../images/pause-button--blue.svg);
}
.sharpstream-audio__player .timeline {
  position: relative;
  width: 50%;
  height: 0.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 0.15625rem;
  background: #074f71;
  background: var(--c-primary);
}
.sharpstream-audio__player .timeline .progress {
  position: relative;
  width: 0;
  height: 100%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: #d9db31;
  background: var(--c-blue-secondary);
}
.sharpstream-audio__player .timeline .progress::after {
  position: absolute;
  top: -0.25rem;
  right: -0.375rem;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  content: "";
  border: 0.125rem solid #074f71;
  border: 0.125rem solid var(--c-primary);
  border-radius: 100%;
  background: #d9db31;
  background: var(--c-blue-secondary);
  -webkit-box-shadow: 0.1875rem 0.1875rem 0.1875rem -0.0625rem rgba(0, 0, 0, 0.3);
  box-shadow: 0.1875rem 0.1875rem 0.1875rem -0.0625rem rgba(0, 0, 0, 0.3);
}
.sharpstream-audio__player .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.5rem;
  color: #074f71;
  color: var(--c-primary);
  font-size: 0.8125rem;
}
.sharpstream-audio__player .volume-container .volume-button {
  display: block;
  width: 1.125rem;
  height: 0.875rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
}
.sharpstream-audio__player .volume-container .full-volume {
  background-image: url(../images/volume-button--blue.svg);
}
.sharpstream-audio__player .volume-container .mute {
  background-image: url(../images/volume-muted--blue.svg);
}

.sharpstream-audio__player .sr-only,
.sharpstream .field__label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
