{% for item in items %}
  <div class="sharpstream-audio">
    <div class="sharpstream-audio__player">
      <div class="hidden">
        <audio controls>
          <source src="{{ item.content['#url'] }}" type="audio/mp3">
        </audio>
      </div>
      <div class="controls">
        <div class="play-container">
          <button class="toggle-play play">
            <span class="sr-only">
              {{ 'Click or press the spacebar to play or pause the audio.'|t }}
            </span>
          </button>
        </div>
      </div>
      <div class="timeline">
        <div class="progress"></div>
      </div>
      <div class="time">
        <div class="current">0:00</div>
        <div class="divider">/</div>
        <div class="length"></div>
      </div>
      <div class="volume-container">
        <button class="volume-button full-volume">
          <span class="sr-only">
          {{ 'Click or press the spacebar to mute or unmute the audio.'|t }}
          </span>
        </button>
      </div>
    </div>
  </div>
{% endfor %}
