{#
/**
 * @file sharpstream-audio.html.twig
 */
#}

{{ attach_library('sharpstream/sharpstream_audio') }}

<article {{ attributes.addClass('sharpstream') }} data-type="audio">
  {# Display teaser cover image #}
  {% block card_image %}
    {% if elements['image']|render|trim is not empty %}
      <div class="card-image">
        {{ elements['image'] }}
      </div>
    {% endif %}
  {% endblock %}

  {# Display teaser content #}
  {% block card_section %}
    <div class="card-section">
      <header>
        <h4>
          <span>
            {# Title #}
            {% if elements['created'] %}
              {{ elements['created'] }}
            {% endif %}
            {% if elements['name'] %}
              {{ elements['name'] }}
            {% endif %}
          </span>
        </h4>
      </header>

      <section>
        {# Audio URL - to be used on the Radio player #}
        {% if elements['audio_url'] %}
          {{ elements['audio_url'] }}
        {% endif %}
      </section>
    </div>
  {% endblock %}
</article>
